
.carousel {
    position: relative;
    box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.64);
    margin-top: 26px;
}

.carousel-inner {
    position: relative;
    overflow: hidden;
    width: 100%;
}

.carousel-open:checked + .carousel-item {
    position: static;
    opacity: 100;
}

.carousel-item {
    position: absolute;
    opacity: 0;
    -webkit-transition: opacity 0.1s ease-in;
    transition: opacity 0.1s ease-in;
}

.carousel-item img {
    height: 70%;
    max-width: 80%;
    margin: auto;
}

.carousel-control {
    color: #fff;
    cursor: pointer;
    display: none;
    font-size: 40px;
    height: 40px;
    line-height: 35px;
    position: absolute;
    border-radius: 10px;
    background: #1d1a1a;
    box-shadow:  1px 1px 1px #171515,
    1px 1px 1px #231f1f;
    top: 50%;
    -webkit-transform: translate(-50%, 0);
    cursor: pointer;
    -ms-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    text-align: center;
    width: 40px;
    z-index: 10;
}

.carousel-control.prev {
    left: 3%;
}

@media screen and (max-width:400px){
    .carousel-control.prev {
        left: 11%;
    }
}


.carousel-control.next {
    right: 15%;
}

.carousel-control:hover {
    background: rgba(0, 0, 0, 0.8);
    --tw-text-opacity: 1;
    color: rgba(16, 185, 129, var(--tw-text-opacity));
}

#carousel-1:checked ~ .control-1,
#carousel-2:checked ~ .control-2,
#carousel-3:checked ~ .control-3 {
    display: block;
}

.carousel-indicators {
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    bottom: 2%;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 10;
}

.carousel-indicators li {
    display: inline-block;
    margin: 0 5px;
}

.carousel-bullet {
    border-radius: 50px;
    color: #3cb16c;
    cursor: pointer;
    display: block;
    font-size: 35px;
}

.carousel-bullet:hover {
    color: #aaaaaa;
}

#carousel-1:checked ~ .control-1 ~ .carousel-indicators li:nth-child(1) .carousel-bullet,
#carousel-2:checked ~ .control-2 ~ .carousel-indicators li:nth-child(2) .carousel-bullet,
#carousel-3:checked ~ .control-3 ~ .carousel-indicators li:nth-child(3) .carousel-bullet {
    color: rgba(54, 53, 66, 0.97);
}

#title {
    width: 100%;
    position: absolute;
    padding: 0px;
    margin: 0px auto;
    text-align: center;
    font-size: 27px;
    color: rgba(255, 255, 255, 1);
    font-family: 'Open Sans', sans-serif;
    z-index: 9999;
    text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.33), -1px 0px 2px rgba(255, 255, 255, 0);
}