@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

html {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    cursor: url("../img/cursor/mac.png"), pointer;
    background: linear-gradient(45deg, #221f1f, #1d1a1a);

}

.info-btn {
    box-shadow: 1px -2px 13px -37px rgba(87,108,85,0.68);
    -webkit-box-shadow: 1px -2px 13px -37px rgba(87,108,85,0.68);
    -moz-box-shadow: 1px -2px 13px -37px rgba(87,108,85,0.68);
    cursor:pointer;
}

.font-custom-2 {
    line-height: 40px;font-size: 1em; font-family: 'Lato', sans-serif; color: #3cb16c;
}

.modal {
    -webkit-box-shadow: -2px 3px 1px 3px #1d1a1a;
    -moz-box-shadow: -2px 3px 1px 3px #323232;
    box-shadow: -1px 1px 12px 4px #2e2b2b;
}

button {
    border: none;
    outline: none;
}

#applause {
    display: none;
}


/*
  CUSTOM CLASS MARGIN DEVICES
                            */

.max-w-sx{
    max-width: 23.5rem;
}
.max-w-lx{
    max-width: 23.5rem;
}
.max-w-dm{
    max-width: 28rem;
}
.pb-sm{
    padding-bottom: 26rem;
}

.bg {
    position: fixed;
    opacity: 1;
    visibility: visible;
}

.section{
    font-family: 'Dela Gothic One', cursive;
}

.url-custom:hover span {
    width: 100%;
}

*, *::before, *::after {
    box-sizing: border-box;
}

.progress-bar {
    position: relative;
    width: 700px;
    height: 40px;
    color: #019500;
    margin: auto;
    border-radius: 4px;
    background: #019500;
    box-shadow:  -5px 5px 12px #020a02,
    5px -5px 12px #082008;
}

.progress-bar::before {
    animation: fadein 2s;

    content: attr(data-label);
    display: flex;
    align-items: center;
    position: absolute;
    left: .3em;
    top: .3em;
    bottom: .3em;
    width: calc(var(--width, 0) * 2%);
    min-width: 2rem;
    max-width: calc(100% - .7em);
    background-color: black;
    padding: 0.3em;
}

.progress-bar::after {
}

.side-links {
    position: absolute;
    top: 15px;
    right: 15px;
}

.side-link {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    margin-bottom: 10px;
    color: black;
    width: 180px;
    padding: 10px 0;
    border-radius: 5px;
}

.side-link-youtube {
    background-color: red;
}

.side-link-twitter {
    background-color: #1DA1F2;
}

.side-link-github {
    background-color: #6e5494;
}

.side-link-text {
    margin-left: 10px;
    font-size: 18px;
}

.side-link-icon {
    color: white;
    font-size: 30px;
}

.button-pf {
    border-radius: 25px;
    background: linear-gradient(145deg, #242121, #1f1c1c);
    box-shadow:  7px 7px 14px #0e0c0c,
    -7px -7px 14px #363232;
}

.button-pf:active {
    border-radius: 25px;
    background: #221f1f;
    box-shadow: inset 7px 7px 14px #0e0c0c,
    inset -7px -7px 14px #363232;
}

.custom-navbar {
    /*border-color: #019500;*/
    margin-left: 24px;
    margin-right: 36px;
    background-color: #292929;
    opacity: .6;
    border: 0;
    padding: 8px 20px;
    outline: transparent;
    font-weight: bold;
    color: #3f5185;
    font-size: 18px;
    cursor: pointer;

    border-radius: 45px;
    box-shadow:  7px 7px 7px #0d0c0c,
    -7px -7px 7px #332e2e;
}


.button-navbar {
    background: linear-gradient(45deg, #221f1f, #1d1a1a);
    border-radius: 4px;
    box-shadow:  4px 4px 12px #0d0c0c,
    4px 3px 12px #332e2e;
}

.button-navbar:active {
    background: linear-gradient(45deg, #221f1f, #1d1a1a);
    border-radius: 4px;
    box-shadow: inset 6px 6px 12px #0d0c0c,
    inset -6px -6px 12px #332e2e;
}

.title-pf{
    margin-top: 48%;
    padding-bottom: 24%
}

.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.link-size{
    margin-top: 80px;
    margin-bottom: 15px;
}


.overflow-digital{
    border-radius: 12px;
    background: #1d1a1a;
    box-shadow: inset 9px 9px 18px #0c0a0a,
    inset -9px -9px 18px #2e2a2a;
    overflow: hidden;
}

.overflow-custom{
    border-radius: 12px;
    background: #1d1a1a;
    box-shadow: inset 9px 9px 18px #0c0a0a,
    inset -9px -9px 18px #2e2a2a;
    overflow: hidden;
}

.overflow-webapp{
    border-radius: 12px;
    background: #1d1a1a;
    box-shadow: inset 9px 9px 18px #0c0a0a,
    inset -9px -9px 18px #2e2a2a;
    overflow: hidden;
    height: 295px; width: 20em;
}


.overflow-digital-size {
    max-height: 15rem;
    max-width: 150rem;
}

.overflow-design-size {
    max-height: 30rem;
}

.bg-overflow {
    opacity: 2;
}

::-webkit-scrollbar {
    width: 6px;
    background: #1d1a1a;
}
::-webkit-scrollbar-thumb {
    width: 6px;
    background: linear-gradient(45deg, rgba(58, 55, 55, 0.87), rgba(63, 61, 61, 0.91));
}

.card-digital{
    border-radius: 22px;
    background: #221f1f;
    box-shadow:  5px 5px 10px #0e0c0c,
    -5px -5px 10px #363232;
    color: rgba(68, 188, 94, 0.95);
}

.card-design {
    cursor: pointer;
    border-radius: 10px;
    box-shadow:  5px 5px 10px #151313,
    -5px -5px 10px #2f2b2b;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}


.text-card-design {
    opacity: 0;
    font-size: 1em;
    text-shadow: 3px 3px 7px rgba(0,0,0,0.6);
    color: rgba(44, 47, 35, 0.98);
}

.text-card-design:hover{
    opacity: 1;
    font-size: 1em;
    text-shadow: 3px 3px 6px rgba(0,0,0,0.6);
    color: rgba(194,197,175,0.98);
}

.card-webapp {
    background: linear-gradient(145deg, #1e1c1c, #1d1c1c);

    box-shadow:  5px 5px 10px #151313,
    -5px -5px 10px #2f2b2b;
}


.image-content {
    margin-top: 5vh;
    height: 100%;
    max-height: 49vh;
    width: auto;
    background-position: center;
    background-size : cover;
    background-repeat: no-repeat;
}


.avatar{
    border-radius: 15px;
    box-shadow:  5px 5px 10px #0e0c0c,
    -5px -5px 10px #363232;
    background-image: url("../img/holo1.png");
    background-size: 200em ;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    margin-left: 5%;
}

#title-about{
    font-size: 160%;
    margin-right: 7rem;
}
#description-about{
    padding-top: 10px;
    margin-right: 10px;
}
#section-about{
    padding-bottom: 30px;
    margin-bottom: 30px;
}
#footer-about {
    padding-top: 25px;
    padding-bottom: 25px;
}


@media screen and (min-height:350px){
    .overflow-design-size {
        max-height: 15rem;
    }
}

@media screen and (min-height:500px){
    .overflow-design-size {
        max-height: 23rem;
    }
    .overflow-digital-size {
        max-height: 20rem;
        max-width: 150rem;
    }
    .overflow-webapp-size {
        max-height: 20rem;
        max-width: 150rem;
    }
    .avatar{
        border-radius: 10px;
        box-shadow:  5px 5px 10px #0e0c0c,
        -5px -5px 10px #363232;
        background-image: url("../img/holo1.png");
        background-size: 90px;
        background-repeat: no-repeat;
        height: 105px;
        width: 100px;
        margin-top: 25%;
        margin-left: 5%;
    }
    #title-about{
        font-size: 160%;
        margin-right: 6rem;;
    }
    #description-about{
        padding-top: 30px;
        padding-bottom: 30px;
    }
    #section-about{
        padding-top: 45px;
        padding-bottom: 45px;
        margin-bottom: 15px;
        margin-top: 10px;
    }
    #footer-about {
        padding-top: 30px;
        padding-bottom: 30px;
    }

}
@media screen and (min-height:580px){
    .overflow-digital-size {
        max-height: 23rem;
        max-width: 100rem;
    }
    .overflow-webapp-size {
        max-height: 30rem;
        max-width: 100rem;
    }
}

@media screen and (min-height:600px){
    .overflow-digital-size {
        max-height: 25rem;
        max-width: 150rem;
    }
    .overflow-webapp-size {
        max-height: 25rem;
        max-width: 150rem;
    }
}

@media screen and (min-height:620px){
    .overflow-design-size {
        max-height: 26rem;
    }
    .avatar{
        border-radius: 10px;
        box-shadow:  5px 5px 10px #0e0c0c,
        -5px -5px 10px #363232;
        background-image: url("../img/holo1.png");
        background-size: 90px;
        background-repeat: no-repeat;
        height: 76%;
        width: 82%;
        margin-top: 23%;
    }
    #title-about{
        font-size: 160%;
        margin-right: 6rem;;
    }
    #description-about{
        padding-top: 45px;
        padding-bottom: 45px;
        padding-right: 10px;
    }
    #section-about{
        padding-top: 50px;
        padding-bottom: 50px;
        margin-bottom: 20px;

    }
    #footer-about {
        padding-top: 30px;
        padding-bottom: 30px;
    }
}


@media screen and (min-width:280px) and (max-height:667px){
    .avatar{
        border-radius: 5px;
        box-shadow:  5px 5px 10px #0e0c0c,
        -5px -5px 10px #363232;
        background-image: url("../img/holo1.png");
        background-size: 5rem;
        background-repeat: no-repeat;
        height: 68%;
        width: 95%;
        margin-top: 23%;
    }
    #title-about{
        font-size: 160%;
        margin-right: 4rem;
    }
    #description-about{
        padding-top: 45px;
        padding-bottom: 45px;
        padding-right: 10px;
    }
    #section-about{
        padding-top: 50px;
        padding-bottom: 50px;
        margin-bottom: 20px;

    }
    #footer-about {
        padding-top: 30px;
        padding-bottom: 30px;
    }
}

@media screen and (min-height:667px){
    .avatar{
        border-radius: 5px;
        box-shadow:  5px 5px 10px #0e0c0c,
        -5px -5px 10px #363232;
        background-image: url("../img/holo1.png");
        background-size: 110px;
        background-repeat: no-repeat;
        height: 93%;
        width: 105%;
        margin-top: 23%;
    }
    #title-about{
        font-size: 160%;
        margin-right: 5rem;
    }
    #description-about{
        padding-top: 5px;
        padding-bottom: 45px;
        padding-right: 10px;
    }
    #section-about{
        padding-bottom: 70px;
        margin-bottom: 10px;

    }
    #footer-about {
        padding-top: 30px;
        padding-bottom: 30px;
    }
}

@media screen and (min-height:700px){
    .overflow-design-size {
        max-height: 30rem;
    }
    .overflow-digital-size {
        max-height: 30rem;
        max-width: 150rem;
    }
    .overflow-webapp-size {
        max-height: 30rem;
        max-width: 150rem;
    }
    .avatar{
        border-radius: 10px;
        box-shadow:  5px 5px 10px #0e0c0c,
        -5px -5px 10px #363232;
        background-image: url("../img/holo1.png");
        background-size: 105px;
        background-repeat: no-repeat;
        height: 90%;
        width: 105px;
        margin-top: 17%;
    }
    #section-about{
        padding-bottom: 5rem;
        margin-bottom: 10px;
    }
    #footer-about {
        padding-top: 40px;
        padding-bottom: 60px;
    }
}

@media screen and (min-height:800px){
    .overflow-design-size {
        max-height: 35rem;
    }
    .overflow-digital-size {
        max-height: 38rem;
        max-width: 150rem;
    }
    .avatar{
        border-radius: 10px;
        box-shadow:  5px 5px 10px #0e0c0c,
        -5px -5px 10px #363232;
        background-image: url("../img/holo1.png");
        background-size: 105px;
        background-repeat: no-repeat;
        height: 90%;
        width: 105px;
        margin-top: 17%;
    }
    #section-about{
        padding-top: 8rem;
        padding-bottom: 7rem;
        margin-bottom: 10px;
    }
}

@media screen and (max-height: 800px){
    .namelink {
        display: none;
    }
    #portfoliodescr {
        font-size: 0;

    }
}

@media screen and (min-width: 250px) and (min-height: 800px){
    .namelink {
        display: none;
    }
}

@media screen and (min-width: 800px){
    .namelink {
        display: flex;
        font-size: 100%;
        margin-right: 5%;
        margin-top: 1%;
    }
    .overflow-digital-size {
        max-height: 45rem;
        max-width: 150rem;
    }
}

@media screen and (min-height:900px){
    .overflow-design-size {
        max-height: 45rem;
    }
    .overflow-digital-size {
        max-height: 125rem;
        max-width: 150rem;
    }
    .avatar{
        border-radius: 10px;
        box-shadow:  5px 5px 10px #0e0c0c,
        -5px -5px 10px #363232;
        background-image: url("../img/holo1.png");
        background-size: 200px;
        background-repeat: no-repeat;
        height: 290px;
        width: 200px;
        margin-top: 17%;
    }
    #aboutt {
        font-size: 160%;
        padding-right: 10%;
        margin-top: 10%;
    }
    #section-about{
        padding-top: 5rem;
        padding-bottom: 5rem;
    }
}

@media screen and (min-height:1000px){
    .overflow-design-size {
        max-height: 50rem;
    }
    .overflow-digital-size {
        max-height: 120rem;
        max-width: 150rem;
    }
    .avatar{
        border-radius: 10px;
        box-shadow:  5px 5px 10px #0e0c0c,
        -5px -5px 10px #363232;
        background-image: url("../img/holo1.png");
        background-size: 200px;
        background-repeat: no-repeat;
        height: 290px;
        width: 200px;
        margin-left: 4px;
        margin-top: 17%;
    }
    #section-about{
        padding-top: 120px;
        padding-bottom: 40px;
        margin-bottom: 10px;
    }
    #footer-about {
        padding-top: 40px;
        padding-bottom: 60px;
    }
    .namelink {
        display: flex;
        font-size: 100%;
        margin-right: 5%;
        margin-top: 1%;
    }
}

@media screen and (min-height:1200px){
    .overflow-digital-size {
        max-height: 120rem;
        max-width: 150rem;
    }
}

@media screen and (min-height:1300px){
    .overflow-design-size {
        max-height: 60rem;
        max-width: 100rem;
    }
    .overflow-digital-size {
        max-height: 120rem;
        max-width: 100rem;
    }
    .avatar{
        border-radius: 10px;
        box-shadow:  5px 5px 10px #0e0c0c,
        -5px -5px 10px #363232;
        background-image: url("../img/holo1.png");
        background-size: 300px;
        background-repeat: no-repeat;
        height: 430px;
        width: 300px;
        margin-left: 4px;
        margin-top: 17%;
    }
    #section-about{
        padding-top: 10rem;
        padding-bottom: 10rem;
        margin-bottom: 10px;
    }
    #footer-about {
        padding-top: 4rem;
        padding-bottom: 4rem;
    }
    #aboutt {
        font-size: 160%;
    }
}

@media screen and (min-height:1500px){
    .overflow-design-size {
        max-height: 190rem;
        max-width: 100rem;
    }
    .overflow-digital-size {
        max-height: 80rem;
        max-width: 100rem;
    }
}



@media screen and (min-width:1024px) and (min-height:800px){
    .overflow-digital-size {
        max-height: 35rem;
        max-width: 100rem;
    }
}

@media screen and (min-width:1024px) and (min-height:950px){
    .overflow-digital-size {
        max-height: 45rem;
        max-width: 100rem;
    }
}

@media screen and (min-width:1024px) and (min-height:1050px){
    .overflow-digital-size {
        max-height: 50rem;
        max-width: 100rem;
    }
}

@media screen and (min-width:1024px) and (min-height:1200px){
    .overflow-digital-size {
        max-height: 60rem;
        max-width: 100rem;
    }
}

@media screen and (min-width:1024px) and (min-height:1300px){
    .overflow-digital-size {
        max-height: 67rem;
        max-width: 100rem;
    }
}

@media screen and (min-width:1280px) and (min-height:1024px){
    .overflow-digital-size {
        max-height: 90rem;
        max-width: 100rem;
    }
}

@media screen and (min-width:1280px) and (min-height:1100px){
    .overflow-digital-size {
        max-height: 160rem;
        max-width: 100rem;
    }
}

























































/*
 NEON EFFECT
            */

.neon-icon{
    -webkit-animation: glow 1.5s ease-in-out infinite alternate;
    animation: glow-icon 1.5s ease-in-out infinite alternate;

}

@-webkit-keyframes glow-icon {
    from{
        color: #3cb16c;
        text-shadow: 0 0 4px #4cd36d, 0 0 2px #4ed66e, 0 0 2px #4cd36d, 0 0 2px #00fff2, 0 0 2px #4cd36d, 0 0 2px #00fff2, 0 0 2px #00fff2, 0 0 2px #4cd36d, 0 0 2px #00fff2;
    }
    to{
        color: rgba(68, 188, 94, 0.95);
        text-shadow: 0 0 5px #00fff2, 0 0 5px #00fff2, 0 0 5px #00fff2, 0 0 5px #00fff2, 0 0 5px #00fff2, 0 0 6px #00fff2, 0 0 7px #00fff2, 0 0 5px #00fff2, 0 1 5px #00fff2;

    }
}

.neon-typo{
    -webkit-animation: glow 6s ease-in-out infinite alternate;
    animation: glow-typo 3s ease-in-out infinite alternate;

}

@-webkit-keyframes glow-typo {
    from{
        --tw-text-opacity: 1;
        color: rgba(16, 185, 129, var(--tw-text-opacity));
    }
    to{
        color: rgba(33, 28, 28, 0.98);
    }
}

.neon-typo-speed{
    -webkit-animation: glow 4s ease-in infinite alternate;
    animation: glow-typo-speed 0.8s ease-in-out infinite alternate;

}

@-webkit-keyframes glow-typo-speed {
    from{
        color: rgba(54, 114, 54, 0.82);
    }
    to{
        color: rgba(33, 28, 28, 0.98);

    }
}

.neon-typo-speed-2{
    -webkit-animation: glow 2s ease-in infinite alternate;
    animation: glow-typo-speed-2 0.8s ease-in-out infinite alternate;

}

@-webkit-keyframes glow-typo-speed-2 {
    from{
        -webkit-animation: glow 0.5s ease-in infinite alternate;
        animation: glow-typo-speed 0.2s ease-in-out infinite alternate;
    }
    to{
        color: rgba(54, 99, 63, 0.9);

    }
}


.fade-enter-from, .fade-leave-to {
    opacity:0;
}
.fade-enter-active, .fade-leave-active{
    transition: opacity 0.1s ease-out;
    opacity: 0.6  ;
}













































/*
  GLITCH TEXT
             */


.text{
    --tw-text-opacity: 0.4;
    color: rgba(16, 185, 129, var(--tw-text-opacity));
    font-weight: 700;
    position: relative;
    font-size: 10px;
    text-align: center;
    transform: scale(2);
    padding-right: 20px;
    padding-top: 1px;
    letter-spacing: 1px;

}
.text:before,text:after{

    content: attr(data-text);
    padding-top: 4px;
    padding-right: 3px;
    opacity: 0.5;
    width: 100%;
    height: 100%;
    top: 0;
}

.text:after {
    text-shadow: -2px 0 #003d07;
    left: 3px;
    opacity: 0.9;
    animation: glitch-2 2s linear infinite reverse;
}
.text:before{
    left: 3px;
    text-shadow: -2px 0 #004c08;
    opacity: 0.7;
    animation: glitch-2 6s linear infinite reverse;
}

/*
@keyframes glitch-1 {
    0% {
        clip: rect(132px, auto, 101px, 30px);
    }
    5% {
        clip: rect(17px, auto, 94px, 30px);
    }
    10% {
        clip: rect(40px, auto, 66px, 30px);
    }
    15% {
        clip: rect(87px, auto, 82px, 30px);
    }
    20% {
        clip: rect(137px, auto, 61px, 30px);
    }
    25% {
        clip: rect(34px, auto, 14px, 30px);
    }
    30% {
        clip: rect(133px, auto, 74px, 30px);
    }
    35% {
        clip: rect(76px, auto, 107px, 30px);
    }
    40% {
        clip: rect(59px, auto, 130px, 30px);
    }
    45% {
        clip: rect(29px, auto, 84px, 30px);
    }
    50% {
        clip: rect(22px, auto, 67px, 30px);
    }
    55% {
        clip: rect(67px, auto, 62px, 30px);
    }
    60% {
        clip: rect(10px, auto, 105px, 30px);
    }
    65% {
        clip: rect(78px, auto, 115px, 30px);
    }
    70% {
        clip: rect(105px, auto, 13px, 30px);
    }
    75% {
        clip: rect(15px, auto, 75px, 30px);
    }
    80% {
        clip: rect(66px, auto, 39px, 30px);
    }
    85% {
        clip: rect(133px, auto, 73px, 30px);
    }
    90% {
        clip: rect(36px, auto, 128px, 30px);
    }
    95% {
        clip: rect(68px, auto, 103px, 30px);
    }
    100% {
        clip: rect(14px, auto, 100px, 30px);
    }
}

 */
@keyframes glitch-2 {
    0% {
        clip: rect(129px, auto, 36px, 30px);
    }
    5% {
        clip: rect(36px, auto, 4px, 30px);
    }
    10% {
        clip: rect(85px, auto, 66px, 30px);
    }
    15% {
        clip: rect(91px, auto, 91px, 30px);
    }
    20% {
        clip: rect(148px, auto, 138px, 30px);
    }
    25% {
        clip: rect(38px, auto, 122px, 30px);
    }
    30% {
        clip: rect(69px, auto, 54px, 30px);
    }
    35% {
        clip: rect(98px, auto, 71px, 30px);
    }
    40% {
        clip: rect(146px, auto, 34px, 30px);
    }
    45% {
        clip: rect(134px, auto, 43px, 30px);
    }
    50% {
        clip: rect(102px, auto, 80px, 30px);
    }
    55% {
        clip: rect(119px, auto, 44px, 30px);
    }
    60% {
        clip: rect(106px, auto, 99px, 30px);
    }
    65% {
        clip: rect(141px, auto, 74px, 30px);
    }
    70% {
        clip: rect(20px, auto, 78px, 30px);
    }
    75% {
        clip: rect(133px, auto, 79px, 30px);
    }
    80% {
        clip: rect(78px, auto, 52px, 30px);
    }
    85% {
        clip: rect(35px, auto, 39px, 30px);
    }
    90% {
        clip: rect(67px, auto, 70px, 30px);
    }
    95% {
        clip: rect(71px, auto, 103px, 30px);
    }
    100% {
        clip: rect(83px, auto, 40px, 30px);
    }
}



@keyframes bg-animation {
    0% { transform: translate(0,0) }
    10% { transform: translate(-5%,-5%) }
    20% { transform: translate(-10%,5%) }
    30% { transform: translate(5%,-10%) }
    40% { transform: translate(-5%,15%) }
    50% { transform: translate(-10%,5%) }
    60% { transform: translate(15%,0) }
    70% { transform: translate(0,10%) }
    80% { transform: translate(-15%,0) }
    90% { transform: translate(10%,5%) }
    100% { transform: translate(5%,0) }
}

