@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap');

html {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    cursor: url("../img/cursor/mac.png"), pointer;
    background: linear-gradient(45deg, #221f1f, #1d1a1a);

}

.bg {
    position: fixed;
    /*
    top: -50%;
    left: -50%;
    right: -50%;
    bottom: -50%;
    width: 200%;
    height: 200vh;*/

    /*background-color: #111117; transparent url('../img/noise-transparent.png') repeat 0 0;*/
    /*animation: bg-animation .2s infinite;*/
    opacity: 1;
    visibility: visible;
}

.section{
    font-family: 'Dela Gothic One', cursive;
}

.overflow-custom{
    overflow-y: auto;
}

::-webkit-scrollbar {
    width: 12px;
}
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #0d0c0c;
    box-shadow:  5px 5px 10px #050505,
    -5px -5px 10px #151313;
}



button {
    border: none;
    outline: none;
}

.avatar{
    border-radius: 15px;
    background: #221f1f;
    box-shadow:  5px 5px 10px #0e0c0c,
    -5px -5px 10px #363232;
}

.avatar-img{
}

@keyframes bg-animation {
    0% { transform: translate(0,0) }
    10% { transform: translate(-5%,-5%) }
    20% { transform: translate(-10%,5%) }
    30% { transform: translate(5%,-10%) }
    40% { transform: translate(-5%,15%) }
    50% { transform: translate(-10%,5%) }
    60% { transform: translate(15%,0) }
    70% { transform: translate(0,10%) }
    80% { transform: translate(-15%,0) }
    90% { transform: translate(10%,5%) }
    100% { transform: translate(5%,0) }
}

*, *::before, *::after {
    box-sizing: border-box;
}

.progress-bar {
    position: relative;
    width: 700px;
    height: 40px;
    color: #019500;
    margin: auto;
    border-radius: 4px;
    background: #019500;
    box-shadow:  -5px 5px 12px #020a02,
5px -5px 12px #082008;
}

.progress-bar::before {
    animation: fadein 2s;

    content: attr(data-label);
    display: flex;
    align-items: center;
    position: absolute;
    left: .3em;
    top: .3em;
    bottom: .3em;
    width: calc(var(--width, 0) * 2%);
    min-width: 2rem;
    max-width: calc(100% - .7em);
    background-color: black;
    padding: 0.3em;
}

.progress-bar::after {
}

.side-links {
    position: absolute;
    top: 15px;
    right: 15px;
}

.side-link {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    margin-bottom: 10px;
    color: black;
    width: 180px;
    padding: 10px 0;
    border-radius: 5px;
}

.side-link-youtube {
    background-color: red;
}

.side-link-twitter {
    background-color: #1DA1F2;
}

.side-link-github {
    background-color: #6e5494;
}

.side-link-text {
    margin-left: 10px;
    font-size: 18px;
}

.side-link-icon {
    color: white;
    font-size: 30px;
}

.button-pf {
    border-radius: 25px;
    background: linear-gradient(145deg, #242121, #1f1c1c);
    box-shadow:  7px 7px 14px #0e0c0c,
    -7px -7px 14px #363232;
}

.button-pf:active {
    border-radius: 25px;
    background: #221f1f;
    box-shadow: inset 7px 7px 14px #0e0c0c,
    inset -7px -7px 14px #363232;
}

.custom-navbar {
    /*border-color: #019500;*/
    margin-left: 24px;
    margin-right: 36px;
    background-color: #292929;
    opacity: .6;
    border: 0;
    padding: 8px 20px;
    outline: transparent;
    font-weight: bold;
    color: #3f5185;
    font-size: 18px;
    cursor: pointer;

    border-radius: 45px;
    box-shadow:  7px 7px 7px #0d0c0c,
    -7px -7px 7px #332e2e;
}

.button-navbar {
    border-radius: 4px;
    box-shadow:  4px 4px 12px #0d0c0c,
    4px 3px 12px #332e2e;
}

.button-navbar:active {
    border-radius: 4px;
    box-shadow: inset 6px 6px 12px #0d0c0c,
    inset -6px -6px 12px #332e2e;
}

.title-pf{
    margin-top: 48%;
    padding-bottom: 24%
}



