@import url('https://fonts.googleapis.com/css?family=Raleway');

body {
    background-color: #111117;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.bg {
    position: fixed;
    top: -50%;
    left: -50%;
    right: -50%;
    bottom: -50%;
    width: 200%;
    height: 200vh;
    background: transparent url('../img/noise-transparent.png') repeat 0 0;
    animation: bg-animation .2s infinite;
    opacity: 1;
    visibility: visible;
}

@keyframes bg-animation {
    0% { transform: translate(0,0) }
    10% { transform: translate(-5%,-5%) }
    20% { transform: translate(-10%,5%) }
    30% { transform: translate(5%,-10%) }
    40% { transform: translate(-5%,15%) }
    50% { transform: translate(-10%,5%) }
    60% { transform: translate(15%,0) }
    70% { transform: translate(0,10%) }
    80% { transform: translate(-15%,0) }
    90% { transform: translate(10%,5%) }
    100% { transform: translate(5%,0) }
}

*, *::before, *::after {
    box-sizing: border-box;
}

.progress-bar {
    position: relative;
    width: 700px;
    height: 3em;
    background-color: #019500;
    color: #019500;
    margin: auto;
    margin-top: 30%;
}

.progress-bar::before {
    content: attr(data-label);
    display: flex;
    align-items: center;
    position: absolute;
    left: .5em;
    top: .5em;
    bottom: .5em;
    width: calc(var(--width, 0) * 2%);
    min-width: 2rem;
    max-width: calc(100% - 1em);
    background-color: black;
    padding: 1em;
}


/* Background Styles Only */

* {
    font-family: Raleway, serif;
}
/*
html {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #DFDFDF;
}*/

.side-links {
    position: absolute;
    top: 15px;
    right: 15px;
}

.side-link {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    margin-bottom: 10px;
    color: black;
    width: 180px;
    padding: 10px 0;
    border-radius: 5px;
}

.side-link-youtube {
    background-color: red;
}

.side-link-twitter {
    background-color: #1DA1F2;
}

.side-link-github {
    background-color: #6e5494;
}

.side-link-text {
    margin-left: 10px;
    font-size: 18px;
}

.side-link-icon {
    color: white;
    font-size: 30px;
}